  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:5px 5px 38px grey;
    background-color:aqua;
    font-weight: bold;

  }
  .heading_div
  {
    background: white ; 
    border-radius: 20px; 
    color: black;
    box-shadow:5px 5px 5px grey;
  }
  .heading_div2
  {
    font-size: 18px ;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 38px yellowgreen;
    font-size: 20px;
  }
.copy_right_footer{
  position: fixed;
  color: green;
  bottom: 0;
  width: 100%;
  background-color:blue;
  line-height: 3;
  text-align: center;
}

canvas{
  animation-name: animation3;
  animation-duration:1s;
  animation-iteration-count:infinite;
  margin-top: 140px;
}


@keyframes animation3 {
  from{box-shadow:1px 1px 38px green}
  to{box-shadow:1px 1px 38px cyan}
}
